@use './tokens' as *;
@use './components' as *;


.org-parent {
  background: var(--color-red-600) !important;
  color: var(--color-zinc-50);
  opacity: 0.9;

  &:hover {
    opacity: 1;
    background: var(--color-red-500) !important;
  }
}

.org-child {
  background: var(--color-zinc-600) !important;
  color: var(--color-zinc-100);
  opacity: 0.85;
  &:hover {
    opacity: 1;
    background: var(--color-zinc-500) !important;
  }
}

.org-grandchild {
  background: var(--color-zinc-500) !important;
  color: var(--color-zinc-200);
  opacity: 0.8;
  &:hover {
    opacity: 1;
    background: var(--color-zinc-400) !important;
  }
}