.v-ui {
  --radius-sm: 3px;
  --radius-md: 6px;
  --radius-lg: 12px;
}

.v-ui {
  /* fonts */
  --font-primary: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI',
                  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-display: 'Montserrat', var(--font-primary);
  --font-action:  'Barlow', var(--font-primary);
  --font-mono:  "Roboto Mono", var(--font-primary);
}

.v-ui {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
}