.vheading--2 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-text-2);
    font-family:'Montserrat', var(--font-display);
}

.vheading--3 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-text-2);
    font-family: var(--font-display);
    letter-spacing: 1px;
}

.vheading--4{
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-text-2);
    font-family: var(--font-display);
    letter-spacing: 1px;
    border-bottom: 1px solid var(--color-text-4);
}