<form #editAssetForm="ngForm" [formGroup]="editAssetFormGroup"
    (ngSubmit)="save()" class="edit-entity-form">
  <mat-toolbar fxLayout="row" style="background-color: #9e9e9e; color: white;">
    <h2>Edit Asset </h2>
    <span fxFlex></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  
  
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  
  <div style="height: 4px;" *ngIf="!(isLoading$ | async)"></div>
  <div mat-dialog-content>
      <div class="mat-padding" fxLayout="column">
            <h3>Asset Name & Device</h3>
            <mat-form-field class="mat-block">
                <mat-label>Asset Name</mat-label>
                <input matInput formControlName="assetName" required>
                <mat-error *ngIf="editAssetFormGroup.get('assetName').hasError('required')">
                    Asset name is required.
                </mat-error>
            </mat-form-field>
            

            <mat-form-field class="mat-block">
                  <mat-label>Linked Device</mat-label>
                  <mat-select formControlName="linkedDevice">
                    <mat-option [value]="''">No Device</mat-option> <!-- ✅ Add this option -->
                    <mat-option *ngFor="let device of devices" [value]="device.id">{{device.name}}</mat-option>
                  </mat-select>
              </mat-form-field>
              
              <!--<mat-form-field fxFlex="50" class="mat-block">-->
              <!--        <mat-label>Linked Site Map</mat-label>-->
              <!--        <mat-select formControlName="linkedSiteMap">-->
              <!--          <mat-option [value]="''">No Site Map</mat-option>-->
              <!--          <mat-option *ngFor="let siteMap of siteMapOptions" [value]="siteMap.id">{{ siteMap.name }}</mat-option>-->
              <!--        </mat-select>-->
              <!--      </mat-form-field>-->
              

             
            <h3>Asset Information</h3>
            
            <mat-form-field fxFlex="50" class="mat-block">
                <mat-label>Linked Site Map</mat-label>
                <mat-select formControlName="linkedSiteMap">
                    <mat-option [value]="''">No Site Map</mat-option>
                    <mat-option *ngFor="let siteMap of siteMapOptions" [value]="siteMap.id">
                        {{ siteMap.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            
                    <!-- Primary Group Dropdown -->
                    <!--<mat-form-field fxFlex="50" class="mat-block">-->
                    <!--  <mat-label>Primary Group</mat-label>-->
                    <!--  <mat-select formControlName="selectedPrimaryGroup">-->
                    <!--    <mat-option [value]="''">No Group</mat-option>-->
                    <!--    <ng-container *ngIf="vm.groupOptions">-->
                    <!--      <mat-option *ngFor="let group of vm.groupOptions" [value]="group.id.id">-->
                    <!--        {{ group.name }}-->
                    <!--      </mat-option>-->
                    <!--    </ng-container>-->
                    <!--  </mat-select>-->
                    <!--</mat-form-field>-->
                    
                    <!--<mat-form-field fxFlex="50" class="mat-block">-->
                    <!--  <mat-label>Secondary Group</mat-label>-->
                    <!--  <mat-select formControlName="selectedSecondaryGroup">-->
                    <!--    <mat-option [value]="''">No Group</mat-option>-->
                    <!--    <ng-container *ngIf="vm.groupOptions">-->
                    <!--      <mat-option *ngFor="let group of vm.groupOptions"-->
                    <!--                  [value]="group.id.id"-->
                    <!--                  [disabled]="group.id.id === vm.editAssetFormGroup?.get('selectedPrimaryGroup')?.value">-->
                    <!--        {{ group.name }}-->
                    <!--      </mat-option>-->
                    <!--    </ng-container>-->
                    <!--  </mat-select>-->
                    <!--</mat-form-field>-->
            
            <mat-form-field fxFlex="100" class="mat-block">
              <mat-label>Select up to 2 Groups</mat-label>
              <mat-select formControlName="selectedGroups" multiple>
                <mat-option *ngFor="let group of vm.groupOptions"
                            [value]="group.id.id"
                            [disabled]="vm.editAssetFormGroup?.get('selectedGroups')?.value?.length >= 2 &&
                                        !vm.editAssetFormGroup?.get('selectedGroups')?.value.includes(group.id.id)">
                  {{ group.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

                        

            
            <div formGroupName="attributes">
                <mat-form-field class="mat-block">
                    <mat-label>Address</mat-label>
                    <input type="text" step="any" matInput formControlName="address">
                </mat-form-field>
                <div fxLayout="row" fxLayoutGap="8px">
                    <mat-form-field fxFlex="50" class="mat-block">
                    <mat-label>Latitude</mat-label>
                    <input type="number" step="any" matInput formControlName="latitude">
                </mat-form-field>
                <mat-form-field fxFlex="50" class="mat-block">
                    <mat-label>Longitude</mat-label>
                    <input type="number" step="any" matInput formControlName="longitude">
                </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="8px">
                    

                    <mat-form-field fxFlex="50" class="mat-block">
                        <mat-label>Location</mat-label>
                        <mat-select formControlName="locationType">
                            <mat-option value="inside">Inside</mat-option>
                            <mat-option value="outside">Outside</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="50" class="mat-block">
                        <mat-label>Power Type</mat-label>
                        <mat-select formControlName="powerType">
                            <mat-option value="battery">Battery</mat-option>
                            <mat-option value="fixed">Fixed</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!--<div fxLayout="row" fxLayoutGap="8px">-->
                <!--    <mat-form-field fxFlex="50" class="mat-block">-->
                <!--        <mat-label>Serial Number</mat-label>-->
                <!--        <input type="text" step="any" matInput formControlName="serialNumber">-->
                <!--    </mat-form-field>-->
                <!--    <mat-form-field fxFlex="50" class="mat-block">-->
                <!--        <mat-label>Brand</mat-label>-->
                <!--        <input type="text" step="any" matInput formControlName="brand">-->
                <!--    </mat-form-field>-->
                <!--    <mat-form-field fxFlex="50" class="mat-block">-->
                <!--        <mat-label>Model</mat-label>-->
                <!--        <input type="text" step="any" matInput formControlName="model">-->
                <!--    </mat-form-field>-->
                <!--    <mat-form-field fxFlex="50" class="mat-block">-->
                <!--        <mat-label>Year</mat-label>-->
                <!--        <input type="text" step="any" matInput formControlName="year">-->
                <!--    </mat-form-field>-->
                <!--</div>-->
                
                <!-- Serial/Brand/Model/Year row -->
                <div fxLayout="row wrap" fxLayoutGap="8px">
                  <mat-form-field fxFlex.gt-xs="25%" fxFlex.xs="50%" class="mat-block">
                    <mat-label>Serial Number</mat-label>
                    <input type="text" matInput formControlName="serialNumber">
                  </mat-form-field>
                  <mat-form-field
                    fxFlex.gt-xs="25%"
                    fxFlex.xs="50%"
                    class="mat-block">
                    <mat-label>Brand</mat-label>
                    <input type="text" matInput formControlName="brand">
                  </mat-form-field>
                  <mat-form-field
                    fxFlex.gt-xs="25%"
                    fxFlex.xs="50%"
                    class="mat-block">
                    <mat-label>Model</mat-label>
                    <input type="text" matInput formControlName="model">
                  </mat-form-field>
                  <mat-form-field
                    fxFlex.gt-xs="25%"
                    fxFlex.xs="50%"
                    class="mat-block">
                    <mat-label>Year</mat-label>
                    <input type="text" matInput formControlName="year">
                  </mat-form-field>
                </div>


                
                <div fxLayout="row" fxLayoutGap="8px">
                    <!-- Installation Date -->
                    <mat-form-field fxFlex="50" class="mat-block">
                        <mat-label>Installation Date</mat-label>
                        <input type="date" matInput formControlName="installationDate">
                    </mat-form-field>
                
                    <!-- Warranty Expiry Date -->
                    <mat-form-field fxFlex="50" class="mat-block">
                        <mat-label>Warranty Expiry Date</mat-label>
                        <input type="date" matInput formControlName="warrantyExpiryDate">
                    </mat-form-field>
                </div>
                
                <!-- Calibration & Service Dates -->
                <div fxLayout="row" fxLayoutGap="8px">
                    
                    <!-- Service Date -->
                  <mat-form-field fxFlex="50" class="mat-block">
                    <mat-label>Service Date</mat-label>
                    <input type="date" matInput formControlName="serviceDate">
                  </mat-form-field>
                  
                    <!-- Service Frequency -->
                  <mat-form-field fxFlex="50" class="mat-block">
                    <mat-label>Service Frequency (months)</mat-label>
                    <input
                      type="number"
                      matInput
                      formControlName="serviceFrequency"
                      min="0"
                      placeholder="e.g. 6"
                      (input)="editAssetFormGroup.get('serviceFrequency').value < 0 
                                  ? editAssetFormGroup.get('serviceFrequency').setValue(0) 
                                  : null"
                      (keydown)="preventSign($event)"
                    >
                  </mat-form-field>
                  
                  
                  
                </div>
                <!-- Service & Calibration Frequency -->
                <div fxLayout="row" fxLayoutGap="8px">
                    <!-- Calibration Date -->
                  <mat-form-field fxFlex="50" class="mat-block">
                    <mat-label>Calibration Date</mat-label>
                    <input type="date" matInput formControlName="calibrationDate">
                  </mat-form-field>
                  <!-- Calibration Frequency -->
                  <mat-form-field fxFlex="50" class="mat-block">
                    <mat-label>Calibration Frequency (months)</mat-label>
                    <input
                      type="number"
                      matInput
                      formControlName="calibrationFrequency"
                      min="0"
                      placeholder="e.g. 12"
                      (input)="editAssetFormGroup.get('calibrationFrequency').value < 0 
                                  ? editAssetFormGroup.get('calibrationFrequency').setValue(0) 
                                  : null"
                      (keydown)="preventSign($event)"
                    >
                  </mat-form-field>
                </div>
                
                <!--NEW ROW-->
                <!-- Purchase, Cost & Depreciation -->
                
                <div fxLayout="row"  fxLayoutGap="8px">
                    <!-- Depreciation % per Year -->
                  <mat-form-field fxFlex="50%" class="mat-block">
                    <mat-label>Depreciation (%) per Year</mat-label>
                    <input
                      type="number"
                      matInput
                      formControlName="depreciationRate"
                      min="0"
                      max="100"
                      step="0.1"
                      (keydown)="preventSign($event)"
                    >
                  </mat-form-field>
                  <!-- Purchase Date -->
                  <mat-form-field fxFlex="25%" class="mat-block">
                    <mat-label>Purchase Date</mat-label>
                    <input type="date" matInput formControlName="purchaseDate">
                  </mat-form-field>
                  <!-- Cost of Asset -->
                  <mat-form-field fxFlex="25%" class="mat-block">
                    <mat-label>Cost of Asset</mat-label>
                    <input
                      type="number"
                      matInput
                      formControlName="costOfAsset"
                      min="0"
                      step="0.01"
                      (keydown)="preventSign($event)"
                    >
                  </mat-form-field>
                  
                </div>


                
                <div fxLayout="row" fxLayoutGap="8px">
                    <mat-form-field fxFlex="50" class="mat-block">
                        <mat-label>Insurance Details</mat-label>
                        <input type="text" step="any" matInput formControlName="insuranceDetails">
                    </mat-form-field>
                    <mat-form-field fxFlex="50" class="mat-block">
                        <mat-label>Account Number</mat-label>
                        <input type="text" step="any" matInput formControlName="accountNumber">
                    </mat-form-field>
                </div>
                
                
                <h3>Contact Details</h3>
                <div fxLayout="row wrap" fxLayoutGap="8px">
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Contact Person</mat-label>
                    <input matInput formControlName="contactPerson">
                  </mat-form-field>
                
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="contactEmail">
                    <mat-error *ngIf="vm.editAssetFormGroup.get('attributes.contactEmail').hasError('email')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Contact Number</mat-label>
                    <input matInput formControlName="contactNumber1">
                  </mat-form-field>
                
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Contact Number 2</mat-label>
                    <input matInput formControlName="contactNumber2">
                  </mat-form-field>
                </div>
                
                
                <h3>Maintenance Details</h3>
                <div fxLayout="row wrap" fxLayoutGap="8px">
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Maintenance Name</mat-label>
                    <input matInput formControlName="maintenanceName">
                    <mat-error *ngIf="vm.editAssetFormGroup.get('attributes.maintenanceName').hasError('required')">
                        Name is required when Notify is on
                      </mat-error>
                  </mat-form-field>
                
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Maintenance Email</mat-label>
                    <input matInput type="email" formControlName="maintenanceEmail" >
                    <mat-error *ngIf="vm.editAssetFormGroup.get('attributes.maintenanceEmail').hasError('email')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Maintenance Phone</mat-label>
                    <input matInput formControlName="maintenancePhone" >
                  </mat-form-field>
                
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Maintenance Alt Phone</mat-label>
                    <input matInput formControlName="maintenanceAltPhone">
                  </mat-form-field>
                  
                </div>
                
                <h3>Servicing Details</h3>
                <div fxLayout="row wrap" fxLayoutGap="8px">
                    
                    
                   <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                      <mat-label>Select Servicing User</mat-label>
                      <mat-select [value]="vm.selectedServicingUserId" (selectionChange)="vm.onServicingUserSelected($event.value)">
                        <mat-option *ngFor="let user of vm.customerUsers" [value]="user.id.id">
                          {{ user.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                                        
                
                   <!--Servicing Name -->
                  <!--<mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">-->
                  <!--  <mat-label>Servicing Name</mat-label>-->
                  <!--  <input matInput formControlName="servicingName">-->
                  <!--  <mat-error *ngIf="vm.editAssetFormGroup.get('attributes.servicingName').hasError('required')">-->
                  <!--    Name is required when notify is on-->
                  <!--  </mat-error>-->
                  <!--</mat-form-field>-->
                
                   <!--Servicing Email -->
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Servicing Email</mat-label>
                    <input matInput type="email" formControlName="servicingEmail">
                    <mat-error *ngIf="vm.editAssetFormGroup.get('attributes.servicingEmail').hasError('email')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                
                  <!--Servicing Phone -->
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Servicing Phone</mat-label>
                    <input matInput formControlName="servicingPhone" readonly>
                    <mat-error *ngIf="vm.editAssetFormGroup.get('attributes.servicingPhone').hasError('required')">
                      Phone is required when SMS or Whats App notify is on
                    </mat-error>
                  </mat-form-field>
                
                   <!--Notify Toggles -->
                  <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                
                     <!--Notify by Email -->
                    <mat-slide-toggle formControlName="servicingNotifyEmail">
                      Email
                    </mat-slide-toggle>
                    
                     <!--Notify by whatsApp -->
                    <mat-slide-toggle formControlName="servicingNotifyWhatsApp">
                      Whats App
                    </mat-slide-toggle>
                
                     <!--Notify by SMS -->
                    <mat-slide-toggle formControlName="servicingNotifySMS">
                      SMS
                    </mat-slide-toggle>
                
                  </div>
                
                </div>
                
                <h3>Calibration Contact</h3>
                <div fxLayout="row wrap" fxLayoutGap="8px">
                    
                    <!-- Calibration User Dropdown -->
                    <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                      <mat-label>Select Calibration User</mat-label>
                      <mat-select [value]="vm.selectedCalibrationUserId" (selectionChange)="vm.onCalibrationUserSelected($event.value)">
                        <mat-option *ngFor="let user of vm.customerUsers" [value]="user.id.id">
                          {{ user.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                
                   <!--Calibration Name -->
                  <!--<mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">-->
                  <!--  <mat-label>Calibration Name</mat-label>-->
                  <!--  <input matInput formControlName="calibrationContactName">-->
                  <!--  <mat-error *ngIf="vm.editAssetFormGroup.get('attributes.calibrationContactName').hasError('required')">-->
                  <!--    Name is required when notify is on-->
                  <!--  </mat-error>-->
                  <!--</mat-form-field>-->
                
                   <!--Calibration Email -->
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Calibration Email</mat-label>
                    <input matInput type="email" formControlName="calibrationContactEmail">
                    <mat-error *ngIf="vm.editAssetFormGroup.get('attributes.calibrationContactEmail').hasError('email')">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                
                    <!--Calibration Phone -->
                  <mat-form-field fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" class="mat-block">
                    <mat-label>Calibration Phone</mat-label>
                    <input matInput formControlName="calibrationContactPhone" readonly>
                    <mat-error *ngIf="vm.editAssetFormGroup.get('attributes.calibrationContactPhone').hasError('required')">
                      Phone is required when SMS or Whats App notify is on
                    </mat-error>
                  </mat-form-field>
                
                   <!--Notify Toggles -->
                  <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                
                     <!--Notify by Email -->
                    <mat-slide-toggle formControlName="calibrationNotifyEmail">
                      Email
                    </mat-slide-toggle>
                    
                    <!--Notify by Whats App -->
                    <mat-slide-toggle formControlName="calibrationNotifyWhatsApp">
                      Whats App
                    </mat-slide-toggle>
                
                     <!--Notify by SMS -->
                    <mat-slide-toggle formControlName="calibrationNotifySMS">
                      SMS
                    </mat-slide-toggle>
                
                  </div>
                
                </div>
                
                
                <!-- First row of images -->
                <div fxLayout="row" fxLayoutGap="8px" class="image-row">
                  <div fxFlex="50" class="image-container">
                    <img [src]="editAssetFormGroup.get('attributes.asset_Image_1').value || placeholderUrl" loading="lazy"
                         alt="Asset Image 1" 
                         class="asset-image">
                    <button mat-button class="update-image-button" 
                            (click)="triggerFileInput('fileInput1'); $event.stopPropagation(); $event.preventDefault();">
                      Update Image 1
                    </button>
                    <input type="file" id="fileInput1" style="display: none" accept="image/*"
                           (change)="onImageChange($event, 'asset_Image_1'); $event.stopPropagation(); $event.preventDefault();">
                  </div>
                
                  <div fxFlex="50" class="image-container">
                    <img [src]="editAssetFormGroup.get('attributes.asset_Image_2').value || placeholderUrl" loading="lazy"
                         alt="Asset Image 2" 
                         class="asset-image">
                    <button mat-button class="update-image-button" 
                            (click)="triggerFileInput('fileInput2'); $event.stopPropagation(); $event.preventDefault();">
                      Update Image 2
                    </button>
                    <input type="file" id="fileInput2" style="display: none" accept="image/*"
                           (change)="onImageChange($event, 'asset_Image_2'); $event.stopPropagation(); $event.preventDefault();">
                  </div>
                </div>
                

                
                
                <!-- Second row of images -->
                <div fxLayout="row" fxLayoutGap="8px" class="image-row">
                  <div fxFlex="50" class="image-container">
                    <img [src]="editAssetFormGroup.get('attributes.asset_Image_3').value || placeholderUrl" loading="lazy"
                         alt="Asset Image 3" 
                         class="asset-image">
                    <button mat-button class="update-image-button" 
                            (click)="triggerFileInput('fileInput3'); $event.stopPropagation(); $event.preventDefault();">
                      Update Image 3
                    </button>
                    <input type="file" id="fileInput3" style="display: none" accept="image/*"
                           (change)="onImageChange($event, 'asset_Image_3'); $event.stopPropagation(); $event.preventDefault();">
                  </div>
                
                  <div fxFlex="50" class="image-container">
                    <img [src]="editAssetFormGroup.get('attributes.asset_Image_4').value || placeholderUrl" loading="lazy"
                         alt="Asset Image 4" 
                         class="asset-image">
                    <button mat-button class="update-image-button" 
                            (click)="triggerFileInput('fileInput4'); $event.stopPropagation(); $event.preventDefault();">
                      Update Image 4
                    </button>
                    <input type="file" id="fileInput4" style="display: none" accept="image/*"
                           (change)="onImageChange($event, 'asset_Image_4'); $event.stopPropagation(); $event.preventDefault();">
                  </div>
                </div>



                <div class="primary-image-selection">
                  <label class="primary-image-label">Select Primary Image:</label>
                  <div class="primary-image-options">
                    <div 
                      *ngFor="let key of imageKeys" 
                      class="primary-image-option"
                      [class.selected]="editAssetFormGroup.get('attributes.primaryImage').value === editAssetFormGroup.get('attributes.' + key).value"
                      [class.disabled]="editAssetFormGroup.disabled"
                      (click)="!editAssetFormGroup.disabled && setPrimaryImage(key)">
                      
                      <img 
                        [src]="editAssetFormGroup.get('attributes.' + key).value || placeholderUrl" 
                        [alt]="key" 
                        class="primary-image-thumb">
                      <div class="primary-label">{{ key.replace('asset_Image_', 'Image ') }}</div>
                    </div>
                  </div>
                </div>
                
                <h3>PDFs</h3>
                <div fxLayout="row wrap" class="mat-block">
                
                  <!-- Calibration Certificates -->
                  <div fxFlex="100%">
                    <mat-subheader class="pdf-section-header">Calibration Certificates</mat-subheader>
                     <div class="pdf-upload-row" fxLayout="row" fxLayoutAlign="start center" style="margin-bottom:8px;">
                      <input
                        type="file"
                        #calibInput
                        accept="application/pdf"
                        hidden
                        (click)="$event.stopPropagation();"
                        (change)="
                          onPdfSelected($event,'calibrationCertificate');
                          $event.stopPropagation();
                          $event.preventDefault()
                        "
                      >
                      <button
                        mat-stroked-button
                        color="primary"
                        (click)="
                          $event.stopPropagation();
                          $event.preventDefault();
                          calibInput.click();
                        "
                      >
                        <mat-icon>upload_file</mat-icon>
                        Upload PDF
                      </button>
                    </div>
                    <table class="mat-elevation-z1 pdf-table">
                      <thead>
                        <tr>
                          <th>File Name</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pdf of vm.editAssetFormGroup.get('attributes.calibrationCertificatesPDFs').value || []">
                          <td><a [href]="pdf.url" target="_blank">{{ pdf.fileName }}</a></td>
                          <td>
                            <!-- future delete button here -->
                            <button
                              mat-icon-button
                              color="warn"
                              (click)="
                                    $event.preventDefault();
                                    $event.stopPropagation();
                                    vm.confirmDelete('calibrationCertificatesPDFs', pdf)
                                  ">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </tr>
                        <tr *ngIf="!(vm.editAssetFormGroup.get('attributes.calibrationCertificatesPDFs').value?.length)">
                          <td colspan="2"><em>No calibration certificates uploaded</em></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                
                  <!-- General Documents -->
                  <div fxFlex="100%" style="margin-top:24px;">
                    <mat-subheader class="pdf-section-header">General Documents</mat-subheader>
                    <div class="pdf-upload-row" fxLayout="row" fxLayoutAlign="start center" style="margin-bottom:8px;">
                      <input
                        type="file"
                        #generalInput
                        accept="application/pdf"
                        hidden
                        (click)="$event.stopPropagation();"
                        (change)="
                          onPdfSelected($event,'generalDocument');
                          $event.stopPropagation();
                          $event.preventDefault()
                        "
                      >
                      <button
                        mat-stroked-button
                        color="primary"
                        (click)="
                          $event.stopPropagation();
                          $event.preventDefault();
                          generalInput.click();
                        "
                      >
                        <mat-icon>upload_file</mat-icon>
                        Upload PDF
                      </button>
                    </div>
                    <table class="mat-elevation-z1 pdf-table">
                      <thead>
                        <tr>
                          <th>File Name</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pdf of vm.editAssetFormGroup.get('attributes.entityGeneralPDFs').value || []">
                          <td><a [href]="pdf.url" target="_blank">{{ pdf.fileName }}</a></td>
                          <td>
                            <!-- future delete button here -->
                            <button
                                 mat-icon-button
                                color="warn"
                                (click)="
                                        $event.preventDefault();
                                        $event.stopPropagation();
                                        vm.confirmDelete('entityGeneralPDFs', pdf)
                                      ">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </tr>
                        <tr *ngIf="!(vm.editAssetFormGroup.get('attributes.entityGeneralPDFs').value?.length)">
                          <td colspan="2"><em>No general documents uploaded</em></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                
                </div>

                                
               
                
                <h3>Advanced Fields</h3>
                <div *ngIf="editAssetFormGroup.get('assetType').value === 'IOT-Level-Tilt'">
                    <div fxLayout="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Chimney Height</mat-label>
                           <input type="number" step="any" matInput formControlName="chimneyHeight">
                           <mat-error *ngIf="editAssetFormGroup.get('attributes.chimneyHeight').hasError('required')">Chimney Height is required</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Bottom Offset (cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="bottom_offset">
                           <mat-error *ngIf="editAssetFormGroup.get('attributes.bottom_offset').hasError('required')">Bottom Offset is required</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cost per Liter (Euros)</mat-label>
                           <input type="number" step="any" matInput formControlName="costPerLiter">
                           <mat-error *ngIf="editAssetFormGroup.get('attributes.costPerLiter').hasError('required')">Cost per liter is required</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                            <mat-label>Colour when Full</mat-label>
                            <mat-select formControlName="fullColour">
                                <mat-option value="green" style="color: green;">Green</mat-option>
                                <mat-option value="red" style="color: red;">Red</mat-option>
                            </mat-select>
                            <mat-error *ngIf="editAssetFormGroup.get('attributes.fullColour').hasError('required')">Full Colour is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50" class="mat-block">
                            <mat-label>Asset Shape</mat-label>
                            <mat-select formControlName="assetShape" (selectionChange)="updateShapeFields()">
                                <mat-option value="cuboid">Cuboid</mat-option>
                                <mat-option value="horizontal-cylinder">Horizontal Cylinder</mat-option>
                                <mat-option value="vertical-cylinder">Vertical Cylinder</mat-option>
                            </mat-select>
                            <mat-error *ngIf="editAssetFormGroup.get('attributes.assetShape').hasError('required')">Asset Shape is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="editAssetFormGroup.get('attributes.assetShape')?.value === 'horizontal-cylinder' || editAssetFormGroup.get('attributes.assetShape')?.value === 'vertical-cylinder'" fxLayout="row" fxLayoutGap="8px" class="cylinder-fields">
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cylinder - Diameter (cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="cylinderDiameter">
                           <mat-error *ngIf="editAssetFormGroup.get('attributes.cylinderDiameter').hasError('required')">Cylinder Diameter is required</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cylinder - Length (cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="cylinderLength">
                           <mat-error *ngIf="editAssetFormGroup.get('attributes.cylinderLength').hasError('required')">Cylinder Length is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="editAssetFormGroup.get('attributes.assetShape')?.value === 'cuboid'" fxLayout="row" fxLayoutGap="8px" class="cube-fields">
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cube - Length(cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="cuboidLength">
                           <mat-error *ngIf="editAssetFormGroup.get('attributes.cuboidLength').hasError('required')">Cube Length is required</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cube - Breadth (cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="cuboidBreadth">
                           <mat-error *ngIf="editAssetFormGroup.get('attributes.cuboidBreadth').hasError('required')">Cube Breadth is required</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cube - Height (cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="cuboidHeight">
                           <mat-error *ngIf="editAssetFormGroup.get('attributes.cuboidHeight').hasError('required')">Cube Height is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                
                
                
                <div *ngIf="editAssetFormGroup.get('assetType').value === 'IOT-Pressure'">
                     <div fxLayout="row wrap" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50%" class="mat-block">
                           <mat-label>Bottom Offset (cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="bottom_offset">
                        </mat-form-field>
                        <mat-form-field fxFlex="50%" class="mat-block">
                           <mat-label>Cost per Liter (Euros)</mat-label>
                           <input type="number" step="any" matInput formControlName="costPerLiter">
                        </mat-form-field>
                        <mat-form-field fxFlex="50%" class="mat-block">
                            <mat-label>Colour when Full</mat-label>
                            <mat-select formControlName="fullColour">
                                <mat-option value="green" style="color: green;">Green</mat-option>
                                <mat-option value="red" style="color: red;">Red</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="50%" class="mat-block">
                            <mat-label>Sensing Range</mat-label>
                            <mat-select formControlName="sensingRange">
                                <mat-option value="2m">2 Meters</mat-option>
                                <mat-option value="4m">4 Meters</mat-option>
                                <mat-option value="1m">1 Meter</mat-option>
                                <mat-option value="0.5m">0.5 Meter</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                    </div>
                    
                    <div fxLayout="row wrap" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50%" class="mat-block">
                           <mat-label>Fluid Converter</mat-label>
                           <input type="number" step="any" matInput formControlName="fluid_converter">
                        </mat-form-field>
                        <mat-form-field fxFlex="50%" class="mat-block">
                            <mat-label>Asset Shape</mat-label>
                            <mat-select formControlName="assetShape" (selectionChange)="updateShapeFields()">
                                <mat-option value="cuboid">Cuboid</mat-option>
                                <mat-option value="horizontal-cylinder">Horizontal Cylinder</mat-option>
                                <mat-option value="vertical-cylinder">Vertical Cylinder</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div *ngIf="editAssetFormGroup.get('attributes.assetShape')?.value === 'horizontal-cylinder' || editAssetFormGroup.get('attributes.assetShape')?.value === 'vertical-cylinder'" fxLayout="row" fxLayoutGap="8px" class="cylinder-fields">
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cylinder - Diameter (cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="cylinderDiameter">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cylinder - Length (cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="cylinderLength">
                        </mat-form-field>
                    </div>
                    <div *ngIf="editAssetFormGroup.get('attributes.assetShape')?.value === 'cuboid'" fxLayout="row" fxLayoutGap="8px" class="cube-fields">
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cube - Length(cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="cuboidLength">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cube - Breadth (cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="cuboidBreadth">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cube - Height (cm)</mat-label>
                           <input type="number" step="any" matInput formControlName="cuboidHeight">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Fluid Converter</mat-label>
                           <input type="number" step="any" matInput formControlName="fluid_converter">
                        </mat-form-field>
                    </div>
                </div>
                
                <div *ngIf="editAssetFormGroup.get('assetType').value === '10_IOTPRO-Generator'">
                    <div fxLayout="row wrap" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50%" class="mat-block">
                            <mat-label>Bottom Offset (cm)</mat-label>
                            <input type="number" step="any" matInput formControlName="bottom_offset">
                        </mat-form-field>
                        <mat-form-field fxFlex="50%" class="mat-block">
                            <mat-label>Cost per Liter (Euros)</mat-label>
                            <input type="number" step="any" matInput formControlName="costPerLiter">
                        </mat-form-field>
                        <mat-form-field fxFlex="50%" class="mat-block">
                            <mat-label>Colour when Full</mat-label>
                            <mat-select formControlName="fullColour">
                                <mat-option value="green" style="color: green;">Green</mat-option>
                                <mat-option value="red" style="color: red;">Red</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field fxFlex="50%" class="mat-block">
                            <mat-label>Sensing Range</mat-label>
                            <mat-select formControlName="sensingRange">
                                <mat-option value="2m">2 Meters</mat-option>
                                <mat-option value="4m">4 Meters</mat-option>
                                <mat-option value="1m">1 Meter</mat-option>
                                <mat-option value="0.5m">0.5 Meter</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field fxFlex="50%" class="mat-block">
                            <mat-label>Asset Shape</mat-label>
                            <mat-select formControlName="assetShape" (selectionChange)="updateShapeFields()">
                                <mat-option value="cuboid">Cuboid</mat-option>
                                <mat-option value="horizontal-cylinder">Horizontal Cylinder</mat-option>
                                <mat-option value="vertical-cylinder">Vertical Cylinder</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="50%" class="mat-block">
                            <mat-label>Fuel Consumption at 100% Load (L/hr)</mat-label>
                            <input type="number"
                                step="any"
                                matInput
                                formControlName="fuelConsumption"
                                min="0"
                                placeholder="e.g. 12.5">
                            <mat-error *ngIf="editAssetFormGroup.get('attributes.fuelConsumption').hasError('required')">
                                Fuel Consumption is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50%" class="mat-block">
                            <mat-label>Generator Battery Voltage (V)</mat-label>
                            <mat-select formControlName="batteryVoltage">
                                <mat-option value="">Select Voltage</mat-option>
                                <mat-option value="12">12V</mat-option>
                                <mat-option value="24">24V</mat-option>
                            </mat-select>
                            <mat-error *ngIf="editAssetFormGroup.get('attributes.batteryVoltage').hasError('required')">
                                Battery Voltage is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="editAssetFormGroup.get('attributes.assetShape')?.value === 'horizontal-cylinder' || editAssetFormGroup.get('attributes.assetShape')?.value === 'vertical-cylinder'" fxLayout="row" fxLayoutGap="8px" class="cylinder-fields">
                        <mat-form-field fxFlex="50" class="mat-block">
                            <mat-label>Cylinder - Diameter (cm)</mat-label>
                            <input type="number" step="any" matInput formControlName="cylinderDiameter">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                            <mat-label>Cylinder - Length (cm)</mat-label>
                            <input type="number" step="any" matInput formControlName="cylinderLength">
                        </mat-form-field>
                    </div>
                    <div *ngIf="editAssetFormGroup.get('attributes.assetShape')?.value === 'cuboid'" fxLayout="row" fxLayoutGap="8px" class="cube-fields">
                        <mat-form-field fxFlex="50" class="mat-block">
                            <mat-label>Cube - Length(cm)</mat-label>
                            <input type="number" step="any" matInput formControlName="cuboidLength">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                            <mat-label>Cube - Breadth (cm)</mat-label>
                            <input type="number" step="any" matInput formControlName="cuboidBreadth">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                            <mat-label>Cube - Height (cm)</mat-label>
                            <input type="number" step="any" matInput formControlName="cuboidHeight">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50" class="mat-block">
                            <mat-label>Fluid Converter</mat-label>
                            <input type="number" step="any" matInput formControlName="fluid_converter">
                        </mat-form-field>
                    </div>
                </div>
                
                
                <!--  || '5_IOTPRO-Pulse'  -->
                <!--<div *ngIf="editAssetFormGroup.get('assetType').value === 'IOT-Pulse'">-->
                <div *ngIf="editAssetFormGroup.get('assetType').value === 'IOT-Pulse' || editAssetFormGroup.get('assetType').value === '5_IOTPRO-Pulse'">
                    <div fxLayout="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Pulse Ratio</mat-label>
                           <input type="number" step="any" matInput formControlName="pulseRatio">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Pulse Offset</mat-label>
                           <input type="number" step="any" matInput formControlName="pulseOffset">
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="editAssetFormGroup.get('assetType').value === 'DRA-Energy'">
                    <div fxLayout="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50" class="mat-block">
                           <mat-label>Cost Per Unit (Euros)</mat-label>
                           <input type="number" step="any" matInput formControlName="costPerUnit">
                        </mat-form-field>
                    </div>
                </div>
            </div>
      </div>  
  </div>
  
  
  
  
  
  
  
<div mat-dialog-actions fxLayout="row">
    <span fxFlex></span>

    <!-- Close Button -->
    <button mat-button style="background-color: #9e9e9e; color: white;" type="button"
            [disabled]="(isLoading$ | async)" (click)="cancel()" cdkFocusInitial>
      Close
    </button>
    
    <!-- Update Button with Conditional Inline Styling -->
    <button mat-button mat-raised-button
            [style.background-color]="(isLoading$ | async) || editAssetForm.invalid || !editAssetForm.dirty ? '#9e9e9e' : '#448bff'"
            [style.color]="(isLoading$ | async) || editAssetForm.invalid || !editAssetForm.dirty ? 'white' : '#fff'"
            [style.border-color]="(isLoading$ | async) || editAssetForm.invalid || !editAssetForm.dirty ? '#9e9e9e' : '#448bff'"
            style="margin-right: 20px;"
            type="submit"
            [disabled]="(isLoading$ | async) || editAssetForm.invalid || !editAssetForm.dirty">
      Update
    </button>
  </div>
</form>