@use 'base/animation';
@use 'base/basic';
@use 'base/typography';
@use 'base/utilities';


@use 'components/flash_messages';



@use 'layouts/views';


.filepond--drop-label {


    font-family: "Montserrat", sans-serif;
    color: var(--color-lime-500)
}


.filepond--list {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
}
.filepond--item {
    max-width: 11rem;
}